html {
    padding: 0 0 20px;
    font:12px/1.5 "微软雅黑",tahoma,arial,\5b8b\4f53;
    background: url(../img/bg.jpg) repeat scroll #EEE;
}

#header {
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 40px;
    _position: absolute;/* for ie-6 */
}

#header .ui-wrap-cnt{
    width: 960px;
}

#header .logo {
    line-height: 40px;
    font-size: 20px;
    padding-left: 20px;
}

#header .sl-hvalign {
    width: 100px;
}

/** main */
#main {
    padding-top: 55px;
}

#main .content{
    padding: 15px 0;
    width: 74.8%;
    min-height: 600px;
    height: auto;
    background: white;
    border-right: 1px solid #E1E1E1;

    -moz-box-shadow: -1px 1px 1px rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#main .content-item{
    padding: 15px;
    border-bottom: 1px dashed #D1D1D1;
}

#main .ui-wrap-cnt, #main .ui-rc-1px {
    background: #FBFBFA;
}

#main .side{
    float:left;
    padding: 15px 0;
    /*width: 240px;*/
    width: 25%;
}

#main .msg {
    /*background: #F7F7F9;*/
    border: 1px solid #E1E1E8;
    color: #DD1144;
    padding: 4px;
    margin: 15px 100px;
    display: none;
}
/* main  **/


/** footer*/
#footer p {
    padding: 15px 0;
    text-align: center;
}

#footer .copyright{
}

#footer .ui-wrap-cnt, #footer .ui-rc-1px {
    background: black;
}

/* footer**/

/** ui-wrap-item */
.ui-wrap{}

.ui-wrap-item, .ui-wrap-cnt {
    margin: 0 auto;
    position: relative;
    z-index: 1001;
}

.ui-wrap-item{
    width: 80%;
    /*min-width: 960px;*/
    min-width: 800px;
}
.ui-wrap-cnt{
    width: 100%;
}

.ui-wrap-item-shadow {
    position: absolute;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 40px;
    background: black;
    opacity: .8;
    filter: alpha(opacity=80);
}
/* ui-wrap-item **/

/** ui-nav */
.ui-nav-item {
    float: left;
    position: relative;
}

.ui-nav-item-link{
    line-height: 40px;
    color: #999;
    overflow: hidden;
    _position: relative;/* for ie-6 */
    _float: left;/* for ie-6 */
}

.ui-nav-item-link:hover {
    background-color: transparent;
    color: white;
    text-decoration: none;
}

.ui-nav-item cite{
    display: block;
    position: relative;
    z-index: 1005;
    margin: 0 10px;
    text-align: center;
}

.ui-nav-item i{
    position: absolute;
    display: block;
    height: 40px;
    width: 100%;
    top: 0;
    left: 0;
}

.ui-nav-item-current {}

.ui-nav-item-current cite{
    color:white;
}

.ui-nav-item-current i{
    background-color: #6F6F6F;
    opacity: .25;
    filter: alpha(opacity=25);
}
.ui-nav-item-child {}
.ui-nav-item-active-child {}
/* ui-nav **/


/** ui-row end */


/**  1px corner */
.ui-rc-1px {
    display: block;
    margin: 0 1px;
    overflow: hidden;
    height: 1px;
}
/* 1px corner end*/

#header h1,#footer p {
    color: #FFF;
}

#header,.ui-wrap-cnt,.ui-wrap-cnt {
    -moz-box-shadow: -1px 1px 1px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}


.pos-absolute{
    position: absolute;
}

/** time table*/
.timetable{}

.timetable div{
    overflow: hidden;
    _display: inline;
    _zoom:1;
}

.timetable .time,.timetable .empty,.timetable dt{
    /* padding and margin here will effect chrome's performance */
    border-left: 1px solid #DDD;
}

.timetable ul, .timetable span,.timetable dt,.timetable dd{
    float: left;
    width: 16.46%;
    /*_width:110px;*/
    min-height: 45px;
    height: auto;
    background: #F9F9F9;
    border-right: 1px solid #DDD;
    border-top: 1px solid #DDD;
    text-align: center;
}
.timetable ul, .timetable span{
    padding-bottom: 3000px;
    margin-bottom: -3000px;
}


.timetable span{
    line-height: 30px;
    min-height: 30px;
}

.timetable dt,.timetable dd{
    padding-bottom: 0;
    margin-bottom: 0;
    min-height: 0;
    border-top: 0;
    border-bottom: 1px solid #DDD;
    font-size:0;
}

.timetable li{
    margin: 6px;
    padding: 4px;
    background-color: #F3F3F3;
    border: 1px solid #E1E1E8;
    color: #1E347B;
    cursor: default;
}

.timetable .day-hover li{   /* use for dragging*/
    border: 1px solid #A1A1A8;
}

.timetable a.ui-state-highlight{
    display: none;
}
/* timetable **/


/** date picker */
#date-picker{
    padding: 15px 0;
    width: 100%;
}

#date-picker .ui-datepicker{
    display:block;
    margin: 0 auto;
    width: 80%;
    font:12px/1.5 tahoma,arial,\5b8b\4f53;
    border: 1px solid #E1E1E1;

}

#date-picker .ui-datepicker-prev:hover,#date-picker .ui-datepicker-next:hover{
    cursor: pointer;
}

.ui-widget-header {
    background: #F6A828;
}

.ui-widget-content {
    background:whiteSmoke;
}

.ui-widget-content .ui-state-default,.ui-widget-content .ui-draggable-dragging{
    background:#F6F6F6;
}

.ui-widget-content .ui-draggable-dragging{
    border: 1px solid #CCCCCC;
    color: #1C94C4;
    font-weight: bold;
}
/* date picker **/


/** name-list*/
#name-list{
    width: 100%;
    font:12px/1.5 tahoma,arial,\5b8b\4f53;
}

.name-list-cnt{
    margin:0 auto;
    padding: .2em .2em 0;
    width:80%;
    height: 100px;
    background: #FFF;
    border: 1px solid #E1E1E1;
}