.sl-ie-shadow-layer{
    display: block;
    position: absolute;
    top: -4px;
    right: 5px;
    bottom: 4px;
    left: -6px;
    opacity: 1;
    background: #ccc;
    filter: progid:DXImageTransform.Microsoft.Blur(pixelradius = 5);
    -ms-filter: "progid:DXImageTransform.Microsoft.Blur(pixelradius=5)";
}


.sl-ie-shadow-bg{
    position: absolute;
    width: 100%;
    height:100%
}